@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="courseName">
    <div class="text-center">
        <div class="course">
            <h1 class="display-4">BDAT - 1001 Information Encoding Standards</h1>
            <h2>Information Encoding Standards - Final Project</h2>
        </div>
            <div class="names">
                <h3 >Divyansh Bhardwaj (200517423)</h3>
            <h3 >Jeffery Jose (200521810)</h3>
            <h3 >Shubham Thapliyal (200517090)</h3>
        </div>   
    </div>
</div>



